#image-focusrect-modal {
  margin: 0 auto;
  text-align: center; }

.jcrop-holder {
  margin: 0 auto; }

#image-focusrect-modal .image-focuspoint-save,
#image-focusrect-modal .image-focuspoint-cancel {
  margin: .5em;
  margin-top: 1em; }
#image-focusrect-modal.has-upscale-warning .jcrop-hline, #image-focusrect-modal.has-upscale-warning .jcrop-vline {
  background: #f00;
  opacity: .6 !important; }

.InputfieldImageFocusArea_links .button-setfocus {
  margin-right: 1em;
  position: relative; }
  .InputfieldImageFocusArea_links .button-setfocus .ui-button-text {
    padding-left: 0; }
.InputfieldImageFocusArea_links .InputfieldImageFocusArea_preview {
  display: none;
  position: absolute;
  bottom: 100%;
  margin-bottom: 5px;
  border: 2px solid #fff;
  overflow: hidden;
  box-sizing: content-box;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  pointer-events: none; }
  .InputfieldImageFocusArea_links .InputfieldImageFocusArea_preview > img {
    max-width: none; }
.InputfieldImageFocusArea_links .InputfieldImageFocusArea_marker {
  /*background-color: rgba(255,255,255, .3);*/
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.5); }
.InputfieldImageFocusArea_links .button-setfocus:hover .InputfieldImageFocusArea_preview {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 999; }

/* Grid View adjustments */
/*.InputfieldImageGrid .InputfieldFileData {*/
/*position: relative;*/
/*}*/
.InputfieldImageFocusArea.InputfieldImageGrid .InputfieldFileInfo.InputfieldItemHeader {
  display: block;
  width: auto;
  height: 0;
  padding: 0;
  position: relative; }
  .InputfieldImageFocusArea.InputfieldImageGrid .InputfieldFileInfo.InputfieldItemHeader > * {
    display: none; }
  .InputfieldImageFocusArea.InputfieldImageGrid .InputfieldFileInfo.InputfieldItemHeader .InputfieldFileStats {
    display: none;
    font-size: .8em;
    position: absolute; }
  .InputfieldImageFocusArea.InputfieldImageGrid .InputfieldFileInfo.InputfieldItemHeader .InputfieldFileDelete {
    display: block;
    position: absolute;
    right: 5px;
    z-index: 10; }
    .InputfieldImageFocusArea.InputfieldImageGrid .InputfieldFileInfo.InputfieldItemHeader .InputfieldFileDelete > .ui-icon {
      margin-top: 0px; }
.InputfieldImageFocusArea.InputfieldImageGrid .InputfieldFileItem .InputfieldFileData {
  /* Forces visibility when in deleted state */
  overflow: visible !important;
  display: block !important;
  height: auto !important;
  transition: opacity 200ms; }
.InputfieldImageFocusArea.InputfieldImageGrid .InputfieldFileItem .InputfieldFileInfo.ui-state-error ~ .InputfieldFileData {
  opacity: .33; }
  .InputfieldImageFocusArea.InputfieldImageGrid .InputfieldFileItem .InputfieldFileInfo.ui-state-error ~ .InputfieldFileData .InputfieldImageFocusArea_links {
    pointer-events: none; }
.InputfieldImageFocusArea.InputfieldImageGrid .InputfieldFileLink {
  background-color: rgba(0, 0, 0, 0.66) !important;
  background-size: contain !important;
  float: none !important;
  min-width: 100px;
  min-height: 100px; }
.InputfieldImageFocusArea.InputfieldImageGrid .InputfieldImageFocusArea_links {
  position: relative;
  font-size: .8em;
  padding-left: 5px; }
.InputfieldImageFocusArea.InputfieldImageGrid .button-setfocus {
  display: block;
  line-height: 1.5; }

/**
 * Grid mode icon fixes
 *
 */
.InputfieldImageFocusArea .InputfieldHeader .InputfieldImageListToggle {
  float: right;
  padding-right: 1em;
  position: relative; }

.InputfieldStateCollapsed .InputfieldHeader .InputfieldImageListToggle {
  display: none; }

/*!
jquery.Jcrop.css v0.9.12 - MIT License
*/
/*
  The outer-most container in a typical Jcrop instance
  If you are having difficulty with formatting related to styles
  on a parent element, place any fixes here or in a like selector

  You can also style this element if you want to add a border, etc
  A better method for styling can be seen below with .jcrop-light
  (Add a class to the holder and style elements for that extended class)
*/
.jcrop-holder {
  direction: ltr;
  text-align: left;
  /* IE10 touch compatibility */
  -ms-touch-action: none; }

/* Selection Border */
.jcrop-vline,
.jcrop-hline {
  background: #ffffff url('data:image/gif;base64,R0lGODlhCAAIAPABAAAAAKqqqiH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCgABACwAAAAACAAIAEACDYQRqXm3xlyQ8cF4myoAIfkECQoAAQAsAAAAAAgACAAAAg8MDqGYaudeW9ChyOyltQAAIfkECQoAAQAsAAAAAAgACAAAAg9MgGCXm+rQYtC0WGl9oQAAIfkECQoAAQAsAAAAAAgACAAAAg+MgWCRernaYmjCWLF7qAAAIfkECQoAAQAsAAAAAAgACAAAAg2MAwmna81UTAfRWeUsACH5BAkKAAEALAAAAAAIAAgAAAIPRB6gmGrnXlvQocjspbUAACH5BAkKAAEALAAAAAAIAAgAAAIPBIJhl5vq0GLQtFhpfaAAACH5BAUKAAEALAAAAAAIAAgAAAIPhINhkHq52mJowlixe6gAADs=');
  font-size: 0;
  position: absolute; }

.jcrop-vline {
  height: 100%;
  width: 1px !important; }

.jcrop-vline.right {
  right: 0; }

.jcrop-hline {
  height: 1px !important;
  width: 100%; }

.jcrop-hline.bottom {
  bottom: 0; }

/* Invisible click targets */
.jcrop-tracker {
  height: 100%;
  width: 100%;
  /* "turn off" link highlight */
  -webkit-tap-highlight-color: transparent;
  /* disable callout, image save panel */
  -webkit-touch-callout: none;
  /* disable cut copy paste */
  -webkit-user-select: none; }

/* Selection Handles */
.jcrop-handle {
  background-color: #333333;
  border: 1px #eeeeee solid;
  width: 7px;
  height: 7px;
  font-size: 1px; }

.jcrop-handle.ord-n {
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  top: 0; }

.jcrop-handle.ord-s {
  bottom: 0;
  left: 50%;
  margin-bottom: -4px;
  margin-left: -4px; }

.jcrop-handle.ord-e {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 50%; }

.jcrop-handle.ord-w {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 50%; }

.jcrop-handle.ord-nw {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 0; }

.jcrop-handle.ord-ne {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 0; }

.jcrop-handle.ord-se {
  bottom: 0;
  margin-bottom: -4px;
  margin-right: -4px;
  right: 0; }

.jcrop-handle.ord-sw {
  bottom: 0;
  left: 0;
  margin-bottom: -4px;
  margin-left: -4px; }

/* Dragbars */
.jcrop-dragbar.ord-n,
.jcrop-dragbar.ord-s {
  height: 7px;
  width: 100%; }

.jcrop-dragbar.ord-e,
.jcrop-dragbar.ord-w {
  height: 100%;
  width: 7px; }

.jcrop-dragbar.ord-n {
  margin-top: -4px; }

.jcrop-dragbar.ord-s {
  bottom: 0;
  margin-bottom: -4px; }

.jcrop-dragbar.ord-e {
  margin-right: -4px;
  right: 0; }

.jcrop-dragbar.ord-w {
  margin-left: -4px; }

/* The "jcrop-light" class/extension */
.jcrop-light .jcrop-vline,
.jcrop-light .jcrop-hline {
  background: #ffffff;
  filter: alpha(opacity=70) !important;
  opacity: .70 !important; }

.jcrop-light .jcrop-handle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  border-color: #ffffff;
  border-radius: 3px; }

/* The "jcrop-dark" class/extension */
.jcrop-dark .jcrop-vline,
.jcrop-dark .jcrop-hline {
  background: #000000;
  filter: alpha(opacity=70) !important;
  opacity: 0.7 !important; }

.jcrop-dark .jcrop-handle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 3px; }

/* Simple macro to turn off the antlines */
.solid-line .jcrop-vline,
.solid-line .jcrop-hline {
  background: #ffffff; }

/* Fix for twitter bootstrap et al. */
.jcrop-holder img,
img.jcrop-preview {
  max-width: none; }
